---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
const resPostsPreviews = await fetch("https://innerlogic.co/wp/wp-json/wp/v2/posts?_fields=slug,excerpt,title,id");
let postPreviews = await resPostsPreviews.json() as PostPreview[];

// Figure out which post is the intro post
const {id: idIntroPost} = postPreviews.find((post) => post.slug === "intro") as PostPreview;
const resIntroPost = await fetch(`https://innerlogic.co/wp/wp-json/wp/v2/posts/${idIntroPost}?_fields=content`);
const introPost = await resIntroPost.json() as {content: {rendered: string}};

// Remove the intro post from the list of post previews
postPreviews = postPreviews.filter((post) => post.slug !== "intro");
---

<Layout title="Blog">
  <main set:html={introPost.content.rendered}></main>
    {
    postPreviews.map((post) => (
      <Card
        title={post.title.rendered}
        body={post.excerpt.rendered}
        href={`/${post.slug}`}
      />
    ))
    }
  </main>
</Layout>

